.event {
  background-color: #202022;
  color: #eaeaea;
}

.event strong {
  font-weight: bold;
}

.description {
  padding: 2.875rem 1rem;
}

.description .title {
  font-family: "Bebas Neue";
  font-size: 2.75rem;
}

.description .content {
  font-family: "Roboto Condensed";
}

.description .content p {
  line-height: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.image img {
  width: 100%;
  height: auto;
}

@media (min-width: 40em) {
  .event {
    display: grid;
    gap: 4rem;
    grid-template-columns: 2.5fr 1fr;
    height: 100vh;
  }

  .description {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .event {
    padding: 3.5rem 2.75rem;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 64em) {
  .description .title {
    font-size: 4rem;
    margin-bottom: 2.75rem;
  }

  .description .content p {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 2.5rem;
    letter-spacing: 1px;
  }
}
