.repertoireImg {
  width: 100%;
}

.repertoireImg img {
  width: 100%;
  height: auto;
}

.descriptionHeader {
  margin: 2rem 1rem 0.5rem 1rem;
}

.primaryTitle,
.secondaryTitle {
  font-family: "Bebas Neue";
  font-size: 2.125rem;
  letter-spacing: 1px;
}

.primaryTitle {
  color: #e66235;
}

.description {
  margin: 0 1rem;
  margin-bottom: 2.5rem;
}

.description p {
  font-family: "Roboto Condensed";
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.dotsContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

@media (min-width: 40em) {
  .primaryTitle,
  .secondaryTitle {
    font-size: 2.5rem;
  }

  .description p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 64em) {
  .repertoire {
    margin: 0 2.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 1.5rem;
    column-gap: clamp(2rem, 4vw, 8rem);
  }

  .repertoireImg {
    grid-column: 1/2;
  }

  .description {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .descriptionHeader {
    grid-row: 1;
    grid-column: 2/3;
  }

  .dotsContainer {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .primaryTitle,
  .secondaryTitle {
    font-size: 3rem;
  }
  .description p {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 2.75rem;
    width: 85%;
    letter-spacing: 1px;
  }
}
